<div class="container complete-container">
  <form [formGroup]="form" (submit)="onSubmit()">
    <h1>
      Clave: <span class="key">{{ orderNumber }}</span>
    </h1>

    <fieldset class="dates-fieldset">
      <legend>Salida y Llegada</legend>

      <mat-form-field appearance="outline">
        <mat-label>Fecha de Salida</mat-label>
        <input
          formControlName="exitDate"
          matInput
          (dateInput)="setDay()"
          [matDatepicker]="picker"
        />
        <mat-hint>DD/MM/AAAA</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker">
        </mat-datepicker-toggle>
        <mat-datepicker #picker />
        <mat-error
          *ngFor="let error of getControlErrors('exitDate', 'Fecha de Salida')"
        >
          {{ error }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Hora de Salida</mat-label>
        <input
          formControlName="exitHour"
          (input)="setHour()"
          matInput
          type="time"
        />
        <mat-error
          *ngFor="let error of getControlErrors('exitHour', 'Hora de Salida')"
        >
          {{ error }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Fecha de Llegada</mat-label>
        <input
          formControlName="arriveDate"
          matInput
          placeholder="Fecha de Llegada"
        />
        <mat-hint>DD/MM/AAAA</mat-hint>
        <mat-datepicker-toggle matIconSuffix />
        <mat-error
          *ngFor="
            let error of getControlErrors('arriveDate', 'Fecha de Llegada')
          "
        >
          {{ error }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Hora de Llegada</mat-label>
        <input formControlName="arriveHour" matInput type="time" />
        <mat-error
          *ngFor="
            let error of getControlErrors('arriveHour', 'Hora de Llegada')
          "
        >
          {{ error }}
        </mat-error>
      </mat-form-field>
    </fieldset>

    <fieldset>
      <legend>Origen</legend>
      <section class="information-labels origin-labels">
        <info-label labelName="RFC">
          {{ originLocation.RFCRemitenteDestinatario }}
        </info-label>
        <info-label labelName="Código Postal"
          >{{ originLocation.CodigoPostal }}
        </info-label>
        <info-label labelName="Estado">
          {{ originLocation.Estado | mexico }}
        </info-label>
      </section>
    </fieldset>

    <fieldset>
      <legend>Destino</legend>
      <section class="information-labels" *ngIf="destinyLocation; else loader">
        <info-label labelName="RFC">
          {{ destinyLocation.RFCRemitenteDestinatario }}
        </info-label>
        <info-label labelName="Distancia">
          {{ destinyLocation.DistanciaRecorrida | km }}
        </info-label>
        <info-label labelName="Códgo Postal">
          {{ destinyLocation.CodigoPostal }}
        </info-label>
        <info-label labelName="Estado">
          {{ destinyLocation.Estado | mexico }}
        </info-label>
      </section>
    </fieldset>

    <fieldset>
      <legend>Vehículo</legend>
      <mat-form-field appearance="outline">
        <mat-label>Número de Vehículo</mat-label>
        <mat-select
          formControlName="vehicle"
          placeholder="Seleccione Vehículo"
          (selectionChange)="setVehicle()"
        >
          <mat-option
            *ngFor="let vehicle of vehicles"
            [value]="vehicle.idSAT_vehicle"
          >
            {{ vehicle.ControlGSM }}
          </mat-option>
        </mat-select>
        <mat-error
          *ngFor="let error of getControlErrors('vehicle', 'Vehículo')"
        >
          {{ error }}
        </mat-error>
      </mat-form-field>

      <section class="information-labels">
        <info-label labelName="Vehículo">
          {{
            currentVehicle
              ? currentVehicle.Vehiculo +
                " (" +
                currentVehicle.AnioModeloVM +
                ")"
              : ""
          }}
        </info-label>
        <info-label labelName="Número de Permiso">
          {{ currentVehicle?.NumPermisoSCT }}
        </info-label>
        <info-label labelName="Placa">
          {{ currentVehicle?.PlacaVM }}
        </info-label>
        <info-label labelName="Aseguradora">
          {{ currentVehicle?.AseguraRespCivil }}
        </info-label>
        <info-label labelName="Identificación">
          {{ currentVehicle?.IdentificacionVehicular }}
        </info-label>
        <info-label labelName="Póliza de Seguro">
          {{ currentVehicle?.PolizaRespCivil }}
        </info-label>
      </section>
    </fieldset>

    <fieldset>
      <legend>Conductor</legend>
      <mat-form-field appearance="outline">
        <mat-label>Conductor</mat-label>
        <mat-select
          formControlName="driver"
          (selectionChange)="setDriver()"
          placeholder="Seleccione Conductor"
        >
          <mat-option
            *ngFor="let driver of drivers"
            [value]="driver.idSAT_Driver"
          >
            {{ driver.NombreFigura }}
          </mat-option>
        </mat-select>
        <mat-error
          *ngFor="let error of getControlErrors('driver', 'Conductor')"
        >
          {{ error }}
        </mat-error>
      </mat-form-field>
      <section class="information-labels">
        <info-label labelName="RFC">
          {{ currentDriver?.RFCFigura }}
        </info-label>
        <info-label labelName="Número de Licencia">
          {{ currentDriver?.NumLicencia }}
        </info-label>
        <info-label labelName="Código Postal">
          {{ currentDriver?.CodigoPostal }}
        </info-label>
        <info-label labelName="Estado">
          {{ currentDriver?.Estado | mexico }}
        </info-label>
      </section>
    </fieldset>

    <button type="submit" mat-raised-button color="primary">Generar</button>
  </form>
</div>

<ng-template #span><span></span></ng-template>

<ng-template #loader> <shared-loader text="Obteniendo destino" /></ng-template>
