@use "mixins" as m;

.complete-container {
  padding: 0 3rem;

  @include m.tablet {
    padding: 0 0;
  }
}

.key {
  font-weight: bold;
}

form {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

fieldset {
  border-color: blue;
  border-radius: 1rem;
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(3, 1fr);
  padding: 3rem;

  legend {
    font-size: 1.7rem;
    padding: 0 0.8rem;
  }
}
