@use "mixins" as m;

.complete-container {
  padding: 0 3rem;

  @include m.tablet {
    padding: 0 0;
  }
}

.key {
  font-weight: bold;
}

form {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

fieldset {
  border-color: #001551;
  border-radius: 1rem;
  display: grid;
  gap: 1.5rem;
  padding: 3rem;

  @include m.tablet {
    grid-template-columns: repeat(2, 1fr);
  }

  legend {
    font-size: 1.7rem;
    padding: 0 0.8rem;
  }

  .span-2 {
    grid-column: span 2;
  }
}
