<div class="container complete-container">
  <form [formGroup]="form" (submit)="onSubmit()">
    <h1>
      Clave: <span class="key">{{ key }}</span>
    </h1>

    <fieldset>
      <legend>Autotransporte</legend>

      <mat-form-field appearance="outline">
        <mat-label>Permiso</mat-label>
        <input matInput formControlName="permission" placeholder="Permiso" />
        <mat-hint></mat-hint>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Número de Permiso</mat-label>
        <input
          matInput
          formControlName="numberPermission"
          placeholder="Número de Permiso"
        />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Configuración Vehicular</mat-label>
        <input
          matInput
          formControlName="vehicularConfig"
          placeholder="Configutación Vehicular"
        />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Peso Bruto (ton)</mat-label>
        <input matInput formControlName="weight" placeholder="Peso Bruto" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Placa</mat-label>
        <input
          matInput
          formControlName="plate"
          placeholder="Placa del Vehiculo"
        />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Modelo (año)</mat-label>
        <input matInput formControlName="model" placeholder="Año del Modelo" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Aseguradora</mat-label>
        <input
          matInput
          formControlName="insurance"
          placeholder="Nombre Aseguradora"
        />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Poliza de Seguro</mat-label>
        <input
          matInput
          formControlName="insurancePolicy"
          placeholder="Poliza de Seguro"
        />
      </mat-form-field>
    </fieldset>

    <fieldset>
      <legend>Figura de Transporte</legend>

      <mat-form-field appearance="outline" class="span-2">
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="name" placeholder="Nombre Completo" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>RFC</mat-label>
        <input matInput formControlName="rfc" placeholder="RCF" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Licencia</mat-label>
        <input matInput formControlName="licence" placeholder="Licencia" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="span-2">
        <mat-label>Calle</mat-label>
        <input
          matInput
          formControlName="street"
          placeholder="Ej. Av. Madero 125"
        />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Número Exterior</mat-label>
        <input matInput formControlName="extNumber" placeholder="Ej. 1" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Número Interior</mat-label>
        <input matInput formControlName="intNumber" placeholder="Ej. 3" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Código Postal</mat-label>
        <input
          (input)="getInformationByPostalCode()"
          matInput
          formControlName="postalCode"
          placeholder="Ej. 42184"
        />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Colonia</mat-label>
        <mat-select formControlName="neighborhood">
          <mat-option
            *ngFor="let neighborhood of neighborhoods"
            [value]="neighborhood.Value"
          >
            {{ neighborhood.Name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Localidad</mat-label>
        <mat-select formControlName="locality">
          <mat-option
            *ngFor="let locality of localities"
            [value]="locality.Value"
          >
            {{ locality.Name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Municipio</mat-label>
        <mat-select formControlName="municipality">
          <mat-option
            *ngFor="let municipality of municipalities"
            [value]="municipality.Value"
          >
            {{ municipality.Name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Estado</mat-label>
        <mat-select
          formControlName="state"
          (selectionChange)="getLocalitiesAndMunicipalities()"
        >
          <mat-option *ngFor="let state of states" [value]="state.Value">
            {{ state.Name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>País</mat-label>
        <mat-select formControlName="country">
          <mat-option value="MEX">México</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="span-2">
        <mat-label>Referencia</mat-label>
        <textarea
          matInput
          formControlName="reference"
          placeholder="Información de referencia"
        ></textarea>
      </mat-form-field>
    </fieldset>

    <button type="submit" mat-raised-button color="primary">Generar</button>
  </form>
</div>
