<div class="container complete-container">
  <form [formGroup]="form" (submit)="onSubmit()">
    <h1>
      Clave: <span class="key">{{ key }}</span>
    </h1>

    <fieldset>
      <legend>Autotransporte</legend>

      <mat-form-field appearance="outline">
        <mat-label>Permiso</mat-label>
        <input matInput formControlName="permission" placeholder="Permiso" />

        <mat-error
          *ngFor="let errorMessage of getControlErrors('permission', 'Permiso')"
        >
          {{ errorMessage }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Número de Permiso</mat-label>
        <input
          matInput
          formControlName="numberPermission"
          placeholder="Número de Permiso"
        />
        <mat-error
          *ngFor="
            let errorMessage of getControlErrors(
              'numberPermission',
              'Número de permiso'
            )
          "
        >
          {{ errorMessage }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Configuración Vehicular</mat-label>
        <input
          matInput
          formControlName="vehicularConfig"
          placeholder="Configutación Vehicular"
        />
        <mat-error
          *ngFor="
            let errorMessage of getControlErrors(
              'vehicularConfig',
              'Configuración vehícular'
            )
          "
        >
          {{ errorMessage }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Peso Bruto (ton)</mat-label>
        <input matInput formControlName="weight" placeholder="Peso Bruto" />
        <mat-error
          *ngFor="let errorMessage of getControlErrors('weight', 'Peso')"
        >
          {{ errorMessage }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Placa</mat-label>
        <input
          matInput
          formControlName="plate"
          placeholder="Placa del Vehiculo"
        />
        <mat-error
          *ngFor="let errorMessage of getControlErrors('plate', 'Placa')"
        >
          {{ errorMessage }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Modelo (año)</mat-label>
        <input matInput formControlName="model" placeholder="Ej. 2020" />
        <mat-error
          *ngFor="let errorMessage of getControlErrors('model', 'Modelo')"
        >
          {{ errorMessage }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Aseguradora</mat-label>
        <input
          matInput
          formControlName="insurance"
          placeholder="Nombre Aseguradora"
        />
        <mat-error
          *ngFor="
            let errorMessage of getControlErrors('insurance', 'Aseguradora')
          "
        >
          {{ errorMessage }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Poliza de Seguro</mat-label>
        <input
          matInput
          formControlName="insurancePolicy"
          placeholder="Poliza de Seguro"
        />
        <mat-error
          *ngFor="
            let errorMessage of getControlErrors('insurancePolicy', 'Poliza')
          "
        >
          {{ errorMessage }}
        </mat-error>
      </mat-form-field>
    </fieldset>

    <fieldset>
      <legend>Figura de Transporte</legend>

      <mat-form-field appearance="outline" class="span-2">
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="name" placeholder="Nombre Completo" />
        <mat-error
          *ngFor="let errorMessage of getControlErrors('name', 'Nombre')"
        >
          {{ errorMessage }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>RFC</mat-label>
        <input matInput formControlName="rfc" placeholder="RCF" />
        <mat-error *ngFor="let errorMessage of getControlErrors('rfc', 'RFC')">
          {{ errorMessage }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Licencia</mat-label>
        <input matInput formControlName="licence" placeholder="Licencia" />
        <mat-error
          *ngFor="let errorMessage of getControlErrors('licence', 'Licencia')"
        >
          {{ errorMessage }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Código Postal</mat-label>
        <input matInput formControlName="postalCode" placeholder="Ej. 42184" />
        <mat-error
          *ngFor="
            let errorMessage of getControlErrors('postalCode', 'Código postal')
          "
        >
          {{ errorMessage }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Estado</mat-label>
        <mat-select formControlName="state"> </mat-select>
        <mat-error
          *ngFor="let errorMessage of getControlErrors('state', 'Estado')"
        >
          {{ errorMessage }}
        </mat-error>
      </mat-form-field>
    </fieldset>

    <button type="submit" mat-raised-button color="primary">Generar</button>
  </form>
</div>
