<div class="container">
  <table
    *ngIf="!isLoading"
    mat-table
    [dataSource]="dataSource"
    class="mat-elevation-z8"
  >
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef>Fecha</th>
      <td mat-cell *matCellDef="let cartaporte">{{ cartaporte.date }}</td>
    </ng-container>

    <ng-container matColumnDef="key">
      <th mat-header-cell *matHeaderCellDef>Clave</th>
      <td mat-cell *matCellDef="let cartaporte">{{ cartaporte.key }}</td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Estado</th>
      <td
        mat-cell
        *matCellDef="let cartaporte"
        [ngStyle]="{ color: cartaporte.status | generatedColor }"
        class="bold status"
      >
        {{ cartaporte.status }}
      </td>
    </ng-container>

    <ng-container matColumnDef="archives">
      <th mat-header-cell *matHeaderCellDef>Archivos</th>
      <td mat-cell *matCellDef="let cartaporte">
        <div *ngIf="cartaporte.status === 'Generada'" class="buttons-container">
          <button
            mat-raised-button
            color="warn"
            (click)="downloadFile(cartaporte.pdfLink)"
          >
            <mat-icon>picture_as_pdf</mat-icon>
          </button>
          <button
            mat-raised-button
            color="accent"
            (click)="downloadFile(cartaporte.xmlLink)"
          >
            <mat-icon>article </mat-icon>
          </button>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Acciones</th>
      <td mat-cell *matCellDef="let cartaporte">
        <button
          [routerLink]="'/cartaporte/complete/' + cartaporte.key"
          mat-raised-button
        >
          {{ cartaporte.completeLink }}

          <mat-icon class="visibility">visibility</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr
      mat-header-row
      *matHeaderRowDef="displayedColumns"
      class="th"
      color="primary"
    ></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <div *ngIf="isLoading" class="loading-spinner">
    <mat-spinner />
    <span>Obteniendo informacion...</span>
  </div>
</div>
