@use "variables" as v;
@use "mixins" as m;

.th {
  background-color: v.$primary;
  color: v.$white;
  font-size: 17px;
}

tr {
  font-size: 1.5rem;
  text-wrap: wrap;
}

.buttons-container {
  display: flex;
  gap: 1rem;
  padding: 1rem 0;
  flex-direction: column;

  @include m.tablet {
    flex-direction: row;
  }

  mat-icon {
    width: 100%;
    height: auto;
    font-size: 2.8rem;
    margin: 0;
  }
}

button {
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: center;

  .visibility {
    font-size: 1.5rem;
    width: auto;
    height: auto;
  }
}

.loading-spinner {
  width: 100%;
  display: flex;
  padding-top: 5rem;
  gap: 3rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
