@use "variables" as v;

.th {
  background-color: v.$primary;
  color: v.$white;
  font-size: 17px;
}

tr {
  font-size: 1.5rem;
}

.buttons-container {
  display: flex;
  gap: 1rem;
  padding: 1rem 0;

  mat-icon {
    width: 100%;
    height: auto;
    font-size: 2.8rem;
    margin: 0;
  }
}

button {
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: center;

  .visibility {
    font-size: 1.5rem;
    width: auto;
    height: auto;
  }
}
