$black: #000;
$white: #fff;
$grayLight: #d3d3d3;
$gray: #808080;

$red: #931c0c;
$green: #1d7906;

$m50: #e8eaf6;
$m100: #c5cffa;
$m200: #7289e7;
$m300: #566fd4;
$m400: #2a419b;
$secondary: #0c2693; /*  500  */
$m600: #1b2655;
$primary: #001551; /*  700  */
$m800: #1b2655;
$m900: #0a1025;

$phone: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;
