@use "variables" as v;
@use "mixins" as m;

mat-drawer-container {
  min-height: 100%;
}

mat-drawer {
  width: 65vw;
  text-align: center;

  @include m.tablet {
    width: 22rem;
  }

  .linkSelected {
    background-color: v.$grayLight;
    color: v.$secondary;
  }

  button {
    margin-top: 2rem;

    mat-icon {
      width: auto;
      height: auto;
      font-size: 2rem;
    }
  }
}

nav {
  display: flex;
  flex-direction: column;

  a,
  h3 {
    padding: 1.9rem 0 1.9rem 1rem;
    text-align: left;
  }

  a {
    font-size: 1.6rem;

    @include m.desktop {
      font-size: 1.7rem;
      transition: all 400ms;

      &:hover {
        color: v.$white;
        background-color: v.$gray;
        transform: scale(1.01);
      }
    }
  }

  h3 {
    margin: 0;
    font-weight: bold;
    font-size: 1.8rem;
  }

  .key-link {
    padding-left: 3rem;
    font-size: 1.5rem;
  }
}

.toolbar-inside {
  display: flex;
  justify-content: center;
}

mat-toolbar {
  width: 100%;
  background-color: v.$primary;
  color: v.$white;
}
