<mat-drawer-container [hasBackdrop]="true">
  <mat-drawer #drawer [mode]="'push'">
    <mat-toolbar (click)="drawer.toggle()" class="toolbar-inside">
      <mat-icon>arrow_forward</mat-icon>
    </mat-toolbar>
    <nav>
      <a routerLink="list" (click)="drawer.toggle()">Historial</a>
      <a routerLink="complete/#TUL-1023-201223" (click)="drawer.toggle()">
        Completar Carta Porte
      </a>
    </nav>
  </mat-drawer>
  <mat-drawer-content>
    <mat-toolbar>
      <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with menu icon"
        (click)="drawer.toggle()"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <h1 *ngIf="title">{{ title }}</h1>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
