@use "variables" as v;
@use "mixins" as m;

mat-drawer-container {
  min-height: 100vh;
}

mat-drawer {
  width: 65vw;
  text-align: center;

  @include m.tablet {
    width: 22rem;
  }

  .linkSelected {
    background-color: v.$grayLight;
    color: v.$secondary;
  }

  button {
    margin-top: 2rem;

    mat-icon {
      width: auto;
      height: auto;
      font-size: 2rem;
    }
  }
}

nav {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;

  a {
    padding: 1.9rem;

    @include m.desktop {
      font-size: 1.7rem;
      transition: all 400ms;

      &:hover {
        color: v.$white;
        background-color: v.$gray;
        transform: scale(1.01);
      }
    }
  }
}

.toolbar-inside {
  display: flex;
  justify-content: center;
}

mat-toolbar {
  background-color: v.$primary;
  color: v.$white;
}
