/* You can add global styles to this file, and also import other style files */
@use "variables" as v;
@use "mixins" as m;
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "./styles/normalize.scss";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/*  Global Styles  */

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
}

.container {
  margin: 4rem auto;
  max-width: 100%;

  @include m.tablet {
    max-width: 85%;
  }

  @include m.desktop {
    max-width: 70%;
  }
}

.bold {
  font-weight: bold;
}

p {
  font-size: 2rem;
  color: v.$black;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3 {
  margin: 0;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.6rem;
}

h3 {
  font-size: 3rem;
}

img {
  max-width: 100%;
  width: 100%;
  height: auto;
  display: block;
}

li {
  list-style: none;
}
